/*  your css code here. If applicable */
#container{
	margin: 20px;
	display: inline;
}

#container::before{
	content: "Before Element";
	color: red;
	font-size: 16px;
}

#container::after{
	content: "After Element";
	color: red;
	font-size: 16px;
}